*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.boxes{
    width:50%;
    border:2px solid rgb(194, 202, 194);
    

}
.box.a{
    background-color: red;
    position: relative;
    top: right;
    
}
.box.b{
    background-color: orange;
}
.box.c{
    background-color: yellow;
}
.box.d{
    background-color:brown ;
}
.box.e{
    background-color: green;
}
.box.f{
    background-color: brown;
}
.box{
    width:100px;
    height: 100px;
}