header {
    background-color: rgb(202, 182, 182);
  .container {
    @extend .container;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        ul {
          display: flex;
          gap: 30px;
          list-style-type: style none;
          li {
            a {
              color:grey;
              text-decoration: none;
            }
          }
        }
      }
      button{
        padding: 8px;
        border-radius: 5px;
        border: none;
        background-color: rgb(71, 153, 71);

        &:hover{
            background-color: rgb(56, 184, 223);
        }
      }
    }
  }
}
