#images{
    background-color: #fdf0e9;
    .letter {
        padding: 20px 0;
        nav {
            ul {
                @include flex(space-between);
                gap: 20px;

            }
        }
    }
    .boxes{
        display: flex;
        flex-wrap: wrap;
        // padding: 20px;
        width: 100%;
        gap: 10px;
        img{
            width: 300px;
           
        }
        .image{
        width: 100%;
        }
        
        .box{
            width:30%;
            position: relative;
            button{
                color: #391400;
                background-color: white;
                border-radius: 5px;
                padding: 10px;
                border: none;
                border: 2px solid white;
                position: absolute;
                bottom: 50px;
                left: 30px;


            
            }
            h2{
                color:white;
                position: absolute;
                bottom: 20px;
                left: 30px;
            }
        
        }
      }
        
    }
